* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    text-align: center;
}

.slider {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin-left: 110px;
    gap: 20px;
}

.img {
    display: flex;
    width: 600px;
}