*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
}

body {
    background: #ddd9d1;
}

.container {
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#slider {
    width: 470px;
    overflow: hidden;
}

#slider-line {
    transition: all ease 1s;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    bottom: 40px;
}

.img {
    display: flex;
    width: 470px;
    border-radius: 120px;
}

.paragraf {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    width: 500px;
    text-align: justify;
    top: 250px;
    left: 150px;
}

#title {
    font-size: 120px;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    top: 25px;
    left: 150px;
    text-transform: uppercase;
    padding-bottom: 0;
}

#prev,
#next {
    background: none;
    border: none;
    width: 20px;
    padding-top: 0;
}

#prev img,
#next img {
    width: 40px;
    padding-top: 0;
}

#buttons {
    top: 670px;
    right: 300px;
    display: flex;
    gap: 100px;
}

.arrow {
    position: fixed;
    width: 100%;
    background-color: #000000; /* Цвет полоски */
}

.bottom {
    bottom: 40px;
    height: 1px;
}

.left {
    height: 100%;
    width: 1px;
    left: 40px;
}

#block-text-arrows {
    display:inline-flex;
    flex-direction: column;
    gap: 30px;
}

